html{
    font-size: 2px;
}

header{
    height: 10vh;
    width: 100%;
    font-size: 2vw;
    z-index: 1;
    margin: 0px;
    background-color: red;
    position: absolute;
}

body{
    margin: 0px;
}

header div nav ul li{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    margin: 10px;

}

a{
    color: white;
    text-decoration: none;

}

main{
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/ac/dc/47/acdc47d14a108089f602f69f4b876dde.jpg);
    z-index: 2;
    display: flex;
    justify-content: center;
}

img{
    height: 200px;
    width: 200px;
    position: relative;
    top: 15vh;
    left: 32vw;
}


footer{
    height: 20vh;
    background-color: black;
    color: white;
}

.CONTAINER{
    background-color: #c5c5c5;
    height: 8vh;
    width: 50vw;
    position: relative;
    top: 50vh;
    font-size: 2vw;
    opacity: 50%;
    border-radius: %;
    border-top-right-radius: 52px;
    border-top-left-radius: 52px;
}

